<div class="">
  <div class="title">
    <h3>Who contributes most knowledge?</h3>
    <div class="dropdown" insights-export classname=".knowledge-section-2" fromdate="fromDate" todate="toDate" filename="Trending Topics & Knowledge Contribution"
         module="Insight Knowledge" section="Trending Topics & Knowledge Contribution"></div>
  </div>
  <div class="box" style="min-height:310px">
    <div class="trending_engagement">
      <div class="box_title">
        <h4>Knowledge Contribution</h4>
        <div class="dropdown sorting noExport">
          <a href="javascript:void(0)" ng-click="showDropdown = !showDropdown">{{filter}}</a>
          <div ng-show="showDropdown" class="dropdown-menu" style="display:block;padding:0;">
            <ul>
              <li>
                <div skill-date-range-picker start-date="fromDate" end-date="toDate" period-default="defaultFilter" callback="filterDate(startDate, endDate, period)">
                </div>
                <a style="padding-right:10px;" class="removeFilterDate" href="javascript:void(0)" ng-click="removeFilter()">Clear this filter</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table_most_value table_contribute">
          <thead>
            <tr>
              <th class="cell_1">Knowledge</th>
              <th class="cell_2">Users</th>
              <th class="cell_3">Knowledge Contribution</th>
            </tr>
          </thead>
          <tbody ng-repeat="item in data">
            <tr ng-repeat="subitem in item.items">
              <td>
                <span ng-show="$index == 0">{{subitem.segmentType}}</span>
                <h2 class="link" ng-click="viewAll(subitem)">{{subitem.kdCount | number}}</h2>
              </td>
              <td>
                <span ng-show="$index == 0">{{subitem.segmentType}}</span>
                <p>{{subitem.userCount | number}}</p>
              </td>
              <td>
                <span ng-show="$index == 0">{{subitem.segmentType}}</span>
                <table class="table_breakdown purple">
                  <tbody>
                    <tr ng-repeat="x in subitem.knowledgeContributionDepartmentResponses">
                      <td>
                        <div class="insight-location-text" style="width:120px" title="{{x.name}}" data-toggle="tooltip" data-placement="top">{{x.name}}</div>
                      </td>
                      <td><span class="bar_fill" ng-style="mystyle={'width': (x.percent + '%'), 'opacity': (x.percent/100), 'background-color' : (arrColor[$parent.$parent.$index])}"></span></td>
                      <td><span class="link" ng-click="viewAll(subitem, x)">{{x.value | number}}</span></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
