<div id="TopNav" class="bg_white">
  <div class="container">
    <div class="topnav_left hidden-xs hidden-sm">
      
    </div>
    <div class="topnav_right">
      <ol class="steps">
        
      </ol>
    </div>
  </div>
</div>
<form kendo-validator="Validator" k-options="Validation" ng-submit="Submit($event)">
  <div id="TwoCols">
    <div class="container">
      <div class="page_head">
        <h5><i class="icon-book"></i> Publication</h5>
        <h1>1. Improve</h1>
      </div>
      <div class="row">
        <div class="col-sm-7 col-md-8">
          <div class="left_col">
            <div class="left_col_content">
              <div class="box_grey">
                <h6 style="float:right;">
                  <select class="translate-dropdown" title="Input Language" aria-invalid="false" style="" ng-model="selectedLanguage" ng-change="vm.LanguageChange()" required data-required-msg>
                    <option ng-repeat="obj in vm.LanguageList" value="{{obj.languageCode}}">{{obj.languageCodeName}}</option>
                  </select>
                </h6>
                <div class="form-group">
                  <label ng-bind-html="Questions.title"></label>
                  <p ng-bind-html="Field.original_title" style="background-color:gray;color:white;"></p>
                  <button class="btn btn-sd" type="button" ng-click="vm.reTranslate('title')">Refresh Translation</button>
                  <br />
                  <br />
                  <input type="text" class="form-control" id="Title" name="Title" ng-model="Field.title" required data-required-msg maxlength="250" data-maxlength-msg>
                  <span class="k-invalid-msg" data-for="Title"></span>
                </div>
                <div class="form-group">
                  <label ng-bind-html="Questions.summary"></label>
                  <p ng-bind-html="Field.original_summary" style="background-color:gray;color:white;"></p>
                  <button class="btn btn-sd" type="button" ng-click="vm.reTranslate('summary')">Refresh Translation</button>
                  <br />
                  <br />
                  <textarea id="Summary" name="Summary" kendo-editor k-resizable="true" k-ng-model="Field.summary"
                            data-richtext-msg data-minlength-msg></textarea>
                  <span class="k-invalid-msg" data-for="Summary"></span>
                </div>
              </div>
              <br />
              <div class="box_grey">
                <!--<h6>Publication Type</h6>-->
                <div class="form-group" ng-if="Field.original_freetextBoldStory">
                  <label>{{Questions.freetextBoldStory}}</label>
                  <p ng-bind-html="Field.original_freetextBoldStory" style="background-color:gray;color:white;"></p>
                  <button class="btn btn-sd" type="button" ng-click="vm.reTranslate('freetextBoldStory')">Refresh Translation</button>
                  <br />
                  <br />
                  <textarea id="freetextBoldStory" name="freetextBoldStory" kendo-editor k-resizable="true" k-ng-model="Field.freetextBoldStory"
                            data-richtext-msg data-minlength-msg></textarea>
                  <span class="k-invalid-msg" data-for="freetextBoldStory"></span>
                </div>
                <div class="form-group" ng-if="Field.original_doingDifferently">
                  <label>{{Questions.doingDifferently}}</label>
                  <p ng-bind-html="Field.original_doingDifferently" style="background-color:gray;color:white;"></p>
                  <button class="btn btn-sd" type="button" ng-click="vm.reTranslate('doingDifferently')">Refresh Translation</button>
                  <br />
                  <br />
                  <textarea id="doingDifferently" name="doingDifferently" kendo-editor k-resizable="true" k-ng-model="Field.doingDifferently"
                            data-richtext-msg data-minlength-msg></textarea>
                  <span class="k-invalid-msg" data-for="doingDifferently"></span>
                </div>
                <div class="form-group" ng-if="Field.original_caseForChange">
                  <label>{{Questions.caseForChange}}</label>
                  <p ng-bind-html="Field.original_caseForChange" style="background-color:gray;color:white;"></p>
                  <button class="btn btn-sd" type="button" ng-click="vm.reTranslate('caseForChange')">Refresh Translation</button>
                  <br />
                  <br />
                  <textarea id="caseForChange" name="caseForChange" kendo-editor k-resizable="true" k-ng-model="Field.caseForChange"
                            data-richtext-msg data-minlength-msg></textarea>
                  <span class="k-invalid-msg" data-for="caseForChange"></span>
                </div>
                <div class="form-group" ng-if="Field.winnerText">
                  <label>{{Questions.winnerText}}</label>
                  <p ng-bind-html="Field.original_winnerText" style="background-color:gray;color:white;"></p>
                  <button class="btn btn-sd" type="button" ng-click="vm.reTranslate('winnerText')">Refresh Translation</button>
                  <br />
                  <br />
                  <textarea id="winnerText" name="winnerText" kendo-editor k-resizable="true" k-ng-model="Field.winnerText"
                            data-richtext-msg data-minlength-msg></textarea>
                  <span class="k-invalid-msg" data-for="winnerText"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-5 col-md-4">
          <div class="right_col">
            <ul id="RightAccordion">
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="BottomBar">
    <div class="container">
      <div class="bottombar_cta" style="float:left">
        <button class="btn btn-sd" type="button" ng-click="navigateback()">Back</button>
      </div>
      <div class="bottombar_cta text-right">
        <button class="btn btn-sd" type="submit" ng-disabled="isSaving">Submit</button>
      </div>
    </div>
  </div>
</form>
