<div class="vplayer">
    <audio id="azuremediaplayerPopupMainAudio{{source.id}}"
    class="azuremediaplayer amp-default-skin amp-big-play-centered"
    tabindex="0"></audio>
    <div class="middle-icon">
        <span class="glyphicon glyphicon-music"></span>
    </div>
    <!-- <audio class="new-player" id="audioTest">
        <source src="/assets/media/sample-audio.mp3" type="audio/mpeg">
        Your browser does not support the audio tag.
    </audio> -->
    <!-- <div class="vplayer-control pax-4">
        <div class="vplayer-control__play">
            <button id="isPlayPause" ng-click="playpauseButton('audioTest')"><img src="/assets/icons/new-icons/play-white.svg"></button>
        </div>
        <div class="vplayer-control__progress pax-4"><progress id="playtime" value="0" max="100"> 32% </progress></div>
        <div class="vplayer-control__controls">
            <button id="isMuteButton" ng-click="videoMute('audioTest')"><img src="/assets/icons/new-icons/volume.svg"></button>
            <button ng-click="viewFullscreen('audioTest')"><img src="/assets/icons/new-icons/fullscreen.svg"></button>
        </div>
    </div> -->
</div>