<div class="cop-card isWhiteBox" style="background: white;">
  <div class="cop-card__image skeleton-load">
    <img style="opacity: 0;" ng-src="/assets/images/cop-default-img.jpg" />
  </div>
  <div class="cop-card__details pax-4" >
    <div class="subscribeButton" ng-if="cop.isSubscribed == false"  ng-click="requestToSubscribe(cop.id)">
      <span class="glyphicon glyphicon-plus"></span> &nbsp;Subscribe
    </div>
    <div class="subscribeButton" ng-if="cop.isSubscribed == true" ui-sref="app.ProfilePage.cop({copid: '{{cop.id}}'})">
      Subscribed
    </div>
    <div class="subscribeButton skeleton-load" style="color: transparent;">
      fitrihakim
    </div>
    <div class="cop-card__details-body pax-4" style="border-bottom: 3px solid #999">
      <div class="mat-4 skeleton-load" style="width: 75%; height: 1rem"></div>
      <div class="cop-card__details-body__desc mat-8">
        <div class="skeleton-load" style="width: 100%; height: 1.5rem"></div>
        <div class="mat-2 skeleton-load" style="width: 100%; height: 1.5rem"></div>
        <div class="mat-2 skeleton-load" style="width: 100%; height: 1.5rem"></div>
        <div class="mat-2 skeleton-load" style="width: 100%; height: 1.5rem"></div>
        <div class="mat-2 skeleton-load" style="width: 100%; height: 1.5rem"></div>
        <div class="mat-2 skeleton-load" style="width: 100%; height: 1.5rem"></div>
        <div class="mat-2 skeleton-load" style="width: 100%; height: 1.5rem"></div>
        
      </div>
      <div class="cop-card__details-body__count" style="opacity: 0;">
        <div>
        cop.totalNumberOfArticles<br/>
          <span>Articles</span>
        </div>
        <div>
          cop.totalDiscussions<br/>
          <span>Discussions</span>
        </div>
        <div>
          cop.upcomingEvents<br/>
          <span>Events</span>
        </div>
      </div>
    </div>
  </div>
</div>
      