<span class="k-link k-header">
  {{Questions.equipment}}
  <strong ng-bind="joinEquipmentName()"></strong>
  <span class="k-icon k-i-arrow-n k-panelbar-collapse"></span>
</span>
<div class="k-content">
    <div class="form-group">
      <label>{{Questions.equipmentName}} <strong class="req">*</strong></label>
        <select kendo-multi-select k-ng-model="dataChange" k-options="Equipmentsource" type="text" class="multiselect" ng-disabled="disabled"></select>
    </div>
    <div ng-if="!disabled" class="form_cta cf">
        <div class="left">
            <a href="javascript: void(0);" class="btn_link" ng-click="Delete()">Delete This</a>
        </div>
        <div class="right">
            <a class="btn_link" href="javascript: void(0);" ng-click="Cancel()">Cancel</a>
            <button type="button" class="btn btn-sd btn-sm btn-sd-purple" ng-click="Apply()">Apply</button>
        </div>
    </div>
</div>
