<div class="vplayer">
    <video id="azuremediaplayerKnowledgePopupMain{{source.id}}"
    class="azuremediaplayer amp-default-skin amp-big-play-centered"
    tabindex="0"></video>

    <div class="vplayer-title">
        <div>{{source.fileName}}</div>
        <!-- <div data-dismiss="modal" aria-label="Close"><i class="icon-close"></i></div> -->
    </div>
    <div class="miniviewButton"><button ng-click="playOnMini()"><img src="/assets/icons/new-icons/mini-view.svg"></button></div>
    <div class="vplayer-control">
        <!-- <div class="vplayer-control__play">
            <button id="isPlayPause" ng-click="playpauseButton()"><img src="/assets/icons/new-icons/play-white.svg"></button>
        </div> -->
        <!-- <div class="vplayer-control__progress pax-4"><progress id="playtime" value="0" max="100"> 32% </progress></div> -->
        <!-- <div class="vplayer-control__controls">
            <button id="isMuteButton" ng-click="videoMute('azuremediaplayerKnowledgePopup')"><img src="/assets/icons/new-icons/volume.svg"></button>
            <button ng-click="playOnMini()"><img src="/assets/icons/new-icons/mini-view.svg"></button>
            <button ng-click="viewFullscreen('videoTest')"><img src="/assets/icons/new-icons/fullscreen.svg"></button>
        </div> -->
    </div>
</div>