<?xml version="1.0"?>
<configuration>
  <system.webServer>
      <staticContent>
      <clientCache cacheControlMode="DisableCache" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
      <!-- <mimeMap fileExtension=".woff" mimeType="application/font-woff" /> -->
    </staticContent>
    <rewrite>
      <rules>
	 <rule name="API Rule" stopProcessing="true">
                    <match url="^(api|account|manage)(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
        <rule name="AngularJS Routes" stopProcessing="true">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
             <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
           </conditions>
                    <action type="Rewrite" url="/" />
        </rule>
        
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" timeout="3600" regenerateExpiredSessionId="false"/>
    <compilation debug="true"/>
  </system.web>
</configuration>