<div id="ShareExperience" class="text-center">
  <div class="container">
    <h2>Have you replicate this knowledge in your project?</h2>
    <p>Share your new experience and propagate the value forth</p>
    <div class="dropdown">
      <a data-toggle="dropdown" class="btn btn-sd btn-sd-ghost" href="#">
        Share Experience
        <i class="icon-down-open"></i>
      </a>
      <div class="dropdown-menu">
        <h5>What would you like to share today?</h5>
        <ul>
          <li>
            <a ng-click="ShareClick(1)">
              Lesson Learnt
              <br>
              <small>Key learning and experience gained</small>
            </a>
          </li>
          <li>
            <a ng-click="ShareClick(2)">
              Best Practice
              <br>
              <small>A proven practice that has been replicated for more than 3 times.</small>
            </a>
          </li>
          <li>
            <a ng-click="ShareClick(3)">
              Publication
              <br>
              <small>Industry trends, happenings and technology highlights</small>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a ng-click="ShareClick(4)">
              Bulk Upload
              <br>
              <small>Upload multiple knowledge in one go</small>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
