<div id="attachments" class="article_attachment" ng-if="kdAttachments && kdAttachments.length > 0">
    <div class="std-title mab-10">{{Questions.attachment}}</div>
    <ul>
        <li ng-repeat="attachment in kdAttachments">
            
            <i ng-if="attachment.fileName.toLowerCase().indexOf('.pdf') != -1 
                    || attachment.fileName.toLowerCase().indexOf('.doc') != -1 
                    || attachment.fileName.toLowerCase().indexOf('.ppt') != -1 
                    || attachment.fileName.toLowerCase().indexOf('.xls') != -1" class="fa {{attachment.type}} fa-4x"></i>
            <img ng-if="attachment.fileName.toLowerCase().indexOf('.png') != -1 
                    || attachment.fileName.toLowerCase().indexOf('.jpg') != -1 
                    || attachment.fileName.toLowerCase().indexOf('.jpeg') != -1" ng-src="{{attachment.attachmentUrl}}" alt="{{attachment.fileName}}"
            />
            <span ng-if="attachment.fileName.toLowerCase().indexOf('.mp3') != -1" class="img_box audio-box">
                <i class="icon-play" ng-click="playAudio(attachment)"></i>
                <img src="/assets/images/audio-bg.jpg" alt="{{attachment.fileName}}">
            </span>
            <span ng-if="attachment.fileName.toLowerCase().indexOf('.ogg') != -1 
                    || attachment.fileName.toLowerCase().indexOf('.mp4') != -1" class="img_box">
                <i class="icon-play" ng-click="playVideo(attachment)"></i>
                <img src="/assets/images/video-bg.jpg" alt="{{attachment.fileName}}"><br/>
            </span>
            <i ng-if="attachment.fileName.toLowerCase().indexOf('.pdf') == -1 
                    && attachment.fileName.toLowerCase().indexOf('.doc') == -1 
                    && attachment.fileName.toLowerCase().indexOf('.xls') == -1
                    && attachment.fileName.toLowerCase().indexOf('.ppt') == -1 
                    && attachment.fileName.toLowerCase().indexOf('.png') == -1 
                    && attachment.fileName.toLowerCase().indexOf('.jpg') == -1 
                    && attachment.fileName.toLowerCase().indexOf('.jpeg') == -1
                    && attachment.fileName.toLowerCase().indexOf('.mp3') == -1
                    && attachment.fileName.toLowerCase().indexOf('.ogg') == -1 
                    && attachment.fileName.toLowerCase().indexOf('.mp4') == -1" class="fa fa-file fa-4x"></i>
            <!-- <a href="#" ng-click="downloadAttachment(attachment.id, attachment.fileName)" tooltip-placement="top" uib-tooltip="{{attachment.fileName}}">{{attachment.fileName}} -->
                <a href="#" ng-click="downloadAttachment(attachment)" tooltip-placement="left" uib-tooltip="{{attachment.fileName}}">{{attachment.fileName}}
            </a>
        </li>
    </ul>
</div>

<!-- Modal PlayVideo - Audio -->
<div class="modal fade modal_response" id="ModalVideoAudioAttachment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 700px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="pauseAudioOrVideo()">
                    <span aria-hidden="true">
                        <i class="icon-close"></i>
                    </span>
                </button>
                <h4 class="modal-title">Play media - {{attachment.fileName}}</h4>
            </div>
            <div class="modal-body">
                <div class="audio-section" ng-show="attachment.fileName.toLowerCase().indexOf('.mp3') != -1">
                </div>
                <div class="video-section" ng-show="attachment.fileName.toLowerCase().indexOf('.ogg') != -1 
                            || attachment.fileName.toLowerCase().indexOf('.mp4') != -1">
                    <div class="demo-section k-content wide" style="max-width: 644px;">
                        <!-- <div id="mediaplayerAttachment" style="height:260px"></div> -->
                        <video id="azuremediaplayerPopup" 
                            class="azuremediaplayer amp-default-skin amp-big-play-centered" 
                            tabindex="0"></video>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
