<div class="exportData-5">
  <div class="title">
    <h3>
      Which location amplified the most value?
      <span ng-show="isShowAll" class="tag">All</span>
      <span ng-show="!isShowAll" class="tag">Endorsed</span>
    </h3>
  </div>
  <div class="box no_padding">
    <div class="location_block">
      <div class="location_map">
        <div class="xlocation" style="height:400px">
          <div class="pirigis-logo">
            <p class="text-right">powered by,</p>
            <img src="/assets/images/pirigis.png" />
          </div>
          <style>
            .k-layer {
              position: relative !important;
            }

            .k-i-marker-pin-target:before {
              color: #d60505 !important;
              font-size: 30px !important;
            }
          </style>
          <div id="map2" style="height:400px;"></div>
          <div ng-if="loadActiveLocationDetail != null" class="map-tooltip" style="position:absolute;z-index:1000;box-shadow:1px 1px 10px rgba(0,0,0,.4);padding:7px;font-size: 12px;line-height: 16px;background: #fff;width:160px;">
            <b>{{loadActiveLocationDetail.locationName}}</b><br />
            <span style="font-size:11px">
              Value: <b style="color:#615e99 !important;">{{loadActiveLocationDetail.knowledgeCount}}</b>
            </span>
            <a id="" ng-click="onShapeMouseLeave()" style="position: absolute;top: 3px;right: 7px;"><span class="fa fa-times"></span></a>
          </div>
        </div>
      </div>
      <div class="location_data">
        <div class="box_title">
          <h4>By Location</h4>
          <div class="dropdown sorting">
            <a href="javascript:void(0)" ng-click="showDropdown = !showDropdown">{{filter}}</a>
            <div ng-show="showDropdown" class="dropdown-menu" style="display:block;padding:0;">
              <ul>
                <li>
                  <div skill-date-range-picker start-date="fromDate" end-date="toDate" period-default="defaultFilter" callback="filterDate(startDate, endDate, period)"></div>
                  <a style="padding-right:10px;" class="removeFilterDate" href="javascript:void(0)" ng-click="removeFilter()">Clear this filter</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="data_tab">
          <!-- Nav tabs -->
          <ul class="data_tab_nav">
            <li ng-repeat="tab in byLocationData" ng-class="$index == 0 ? 'active' : ''"><a id="show-tab-{{$index}}" data-target="#Segment{{$index}}" data-toggle="tab" ng-click="tabChanged(tab.segmentType)">{{tab.segmentType}}</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" id="Segment{{$index}}" ng-repeat="tab in byLocationData" ng-class="$index == 0 ? 'active' : ''">
              <table class="table_breakdown purple">
                <thead>
                  <tr>
                    <th>Locations</th>
                    <th colspan="2">Knowledge</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="location in allData" ng-show="location.segmentType == tab.segmentType">
                    <td>
                      <div class="checkbox_sd" title="{{location.locationName}}" data-toggle="tooltip" data-placement="top">
                        <label class="insight-location-text"><input type="checkbox" checked="{{location.isChecked}}" ng-click="location.isChecked = !location.isChecked; drawMap();" value="{{location.locationId}}" class="chkLocation2" name="chkLocation2"> <span>{{location.locationName}}</span></label>
                      </div>
                    </td>
                    <td><span class="bar_fill" ng-style="{'width':((location.value * 100) / location.maxByType + '%'), 'opacity':(location.value / location.maxByType > 0.1 ? location.value / location.maxByType : 0.1), 'min-width':'2%'}" ></span></td>
                    <td class="link" ng-click="viewAll(location)">{{location.value | number:2}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
