<form ng-submit="Search()">

    <select name="SearchCategory" class="field-container selectLanding pay-4 pal-4 par-4" ng-model="SearchCategory" > 
        <option value="ALL">All</option>
        <option value="Knowledges">Knowledges</option>
        <option value="Authors">Author</option>
        <option value="Projects">Project</option>
        <option value="Wells">Wells</option>
        <option value="Equipments">Equipment</option>
        <option value="Collection">Collection</option>
        <option value="Disciplines">Discipline</option>
        <option value="KnowledgeTypes">Knowledge Type</option>
    </select>

    <input kendo-auto-complete k-options="Source" ng-model="keyword" type="text" class="form-control" id="Search"/>
   
    <button type="submit" class="btn btn-search">
        <i class="icon-search"></i>
    </button>
</form>