<div id="Tab" class="fw">
<style>
  .k-pdf-export .k-grid-toolbar,
  .k-pdf-export .k-grid-pager {
    display: none;
  }
</style>
  <div id="TabNav" class="horizontal-scrollable-tabs" style="width: 100%">
    <div class="horizontal-tabs">
      <ul role="tablist" class="nav nav-tabs nav-tabs-horizontal" style="width: 100%">
        <li role="presentation" ui-sref="appAdmin.systemAdmin.searchTerms"><a data-toggle="tab">Search Terms</a></li>
        <li role="presentation" ui-sref="appAdmin.systemAdmin.searchTermsCount" ui-sref-active="active">
          <a data-toggle="tab">Search Terms (Count)</a>
        </li>
        <li role="presentation" ui-sref="appAdmin.systemAdmin.coverImage" ui-sref-active="active">
          <a data-toggle="tab">Cover Image</a>
        </li>
        <li role="presentation" ui-sref="appAdmin.systemAdmin.skipReview" ui-sref-active="active">
          <a data-toggle="tab">Skip Review</a>
        </li>
        <li class="active">
          <a href="#">Publish Knowledge</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active">
      <div class="setting_heading cf">
        <div class="left">
          <h3>Points Management</h3>
        </div>
        <div class="search_head right mar20">
          <form ng-submit="Search()">
            <input type="text" class="grid_search form-control" placeholder="Search..." ng-model="Keyword" />
            <button type="submit">
              <i class="icon-search"></i>
            </button>
          </form>
        </div>
      </div>

      <div class="admin_setting">
        <div kendo-grid="grid" class="grid" options="mainGridOptions"></div>
      </div>
    </div>

  </div>
</div>
<div class="modal fade modal_edit modal_response" id="publishKnowledge" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="popup-interest pay-8">
            <div class="std-title" style="font-size: 14px;">Publish Knowledge</div>
            <div class="mat-2">
              <div class="mat-8 smallLabel nform" style="margin-top: 2rem; box-shadow: none;">
                <div class="form-group mat-4">
                  <label>
                    Select Knowledge Type
                  </label>
                  <select class="form-control">
                    <option value="">Lesson Learnt</option>
                  </select>
                </div>
                <div class="form-group mat-4">
                  <label>
                      With Value Creation
                  </label>
                  <div class="radio-group">
                      <div class="radio-group_choice shadow-sm view-only">
                          <div>
                              <input id="beenReplicateYes" type="radio" class="form__radio-input" ng-value="true" name="beenReplicate" checked>
                              <label for="beenReplicateYes" class="form__checkbox-label w-full">
                                  <span class="form__radio-button service-option">
                                      <div>
                                          <div class="w-full text-center">
                                              <span class="">
                                                 Yes
                                              </span>
                                          </div>
                                      </div>
                                  </span>
                              </label>
                          </div>
                          <div>
                              <input id="beenReplicateNo" type="radio" class="form__radio-input" ng-value="false" name="beenReplicate"> 
                              <label for="beenReplicateNo" class="form__checkbox-label w-full">
                                  <span class="form__radio-button service-option">
                                      <div>
                                          <div class="w-full text-center">
                                              <span class="">
                                                 No
                                              </span>
                                          </div>
                                      </div>
                                  </span>
                              </label>
                          </div>
                          <div>
                            <input id="beenReplicateAll" type="radio" class="form__radio-input" ng-value="all" name="beenReplicate"> 
                            <label for="beenReplicateAll" class="form__checkbox-label w-full">
                                <span class="form__radio-button service-option">
                                    <div>
                                        <div class="w-full text-center">
                                            <span class="">
                                               All
                                            </span>
                                        </div>
                                    </div>
                                </span>
                            </label>
                        </div>
                      </div>
                  </div>
              </div>
                <div class="form-group mat-4">
                  <label>
                    Select Status (From)
                  </label>
                  <select class="form-control">
                    <option value="">Submitted</option>
                  </select>
                </div>
                <div class="form-group mat-4">
                  <label>
                    Select Status (To)
                  </label>
                  <select class="form-control">
                    <option value="">Endorsed</option>
                  </select>
                </div>
                <div class="form-group mat-4">
                  <label>
                    Publish Status (To)
                  </label>
                  <select class="form-control">
                    <option value="">Approved</option>
                  </select>
                </div>
                <div class="text-right mat-12">
                  <button class="admin-default-2">Cancel</button>
                  <button ng-click="showConfirm()" class="admin-default">Publish</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="modal fade modal_edit modal_response" id="confirmPublish" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="popup-interest pay-8">
            <div class="std-title" style="font-size: 14px;">Confirm Publish</div>
            <div ng-if="!showDone" class="mat-2">
              <div class="mat-8 smallLabel" style="line-height: 1.25em;">
                Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                <div class="text-right mat-8">
                  <button class="admin-default-2">Cancel</button>
                  <button ng-click="submittingSkip()" class="admin-default">Confirm</button>
                </div>
              </div>
            </div>
            <div ng-if="showDone" class="mat-2">
              <div class="mat-8 smallLabel" style="line-height: 1.25em;">
                234 records have been successfully updated!
                <div class="text-right mat-8">
                  <button class="admin-default">Done</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

